// app global css in SCSS form

* {
  font-family: $Poppins;
}

.q-toolbar__title {
  font-family: $AlienRobot;
}

body.body--light .q-header {
  background: #ffffff;
  color: $primary;
}
.feed {
  // width: 100%;
  color: #fff;
}
.marquee-text-wrap {
  background-color: $dark;
}
.marquee-text-text {
  display: flex;
  padding: 10px;
}
